##Exercise_1 . Write a function that removes duplicate elements while preserving the order of first occurrence.example:[3 ,1 ,3 ,2 ,4 ,1] → [3 ,1 ,2 ,4]

##Method_1

In [ ]:
def remove_duplicates(lst):
  result = []
  for i in lst:
    if i not in result:
      result.append(i)
  return result
remove_duplicates([3 ,1 ,3 ,2 ,4 ,1])

[3, 1, 2, 4]

##Method_2

In [ ]:
def remove_duplicates(lst):
  result = []
  for i in range(len(lst)):
    if lst.index(lst[i]) == i:
      result.append(lst[i])
  return result
remove_duplicates([3 ,1 ,3 ,2 ,4 ,1])

[3, 1, 2, 4]

##Exercise_2 . Write a function to rotate a list that is shifted by k; where k can be negative.example: rotate([1,2,3,4,5], k=-1) →[2,3,4,5,1] و rotate([1,2,3,4,5], k=2) →[4,5,1,2,3]

##Method_1

In [ ]:
def rotate_list(lst,k):
  if k > 0:
    for i in range(k):
      lst.insert(0,lst.pop())
  elif k < 0:
    for i in range(abs(k)):
      lst.append(lst.pop(0))

  return lst
Rotation_1=rotate_list([1,2,3,4,5], k=-1)
Rotation_2=rotate_list([1,2,3,4,5], k=2)

print(f'rotate([1,2,3,4,5],k=-1) → {Rotation_1}')
print(f'rotate([1,2,3,4,5],k=2) → {Rotation_2}')

rotate([1,2,3,4,5],k=-1) → [2, 3, 4, 5, 1]
rotate([1,2,3,4,5],k=2) → [4, 5, 1, 2, 3]

##Method_2

In [ ]:
def rotate_list(lst,k):
  if k > 0:
    rotation= lst[-k:] + lst[:-k]
  else:
    rotation= lst[-k:] + lst[:-k]
  return rotation

Rotation_1=rotate_list([1,2,3,4,5], k=-1)
Rotation_2=rotate_list([1,2,3,4,5], k=2)

print(f'rotate([1,2,3,4,5],k=-1) → {Rotation_1}')
print(f'rotate([1,2,3,4,5],k=2) → {Rotation_2}')

rotate([1,2,3,4,5],k=-1) → [2, 3, 4, 5, 1]
rotate([1,2,3,4,5],k=2) → [4, 5, 1, 2, 3]

##Exercise_3 . Write a function that divides a list into equal blocks of size n (the last block can be smaller).example:  chunk([1,2,3,4,5], n=2) → [[1,2],[3,4],[5]]

In [3]:
def chunk(lst,n):
  result = []
  for i in range(0,len(lst),n):
    result.append(lst[i:i+n])
  return result
chunk_final=chunk([1,2,3,4,5], n=2)
print(f'chunk([1,2,3,4,5],n=2) → {chunk_final}')

chunk([1,2,3,4,5],n=2) → [[1, 2], [3, 4], [5]]

##Exercise_4 . A function to flatten nested lists of arbitrary depth.example:  flatten([1,[2,[3,4],5],6]) →[1,2,3,4,5,6]

In [9]:
def flatten(lst):
  result = []
  for i in lst:
    if type(i) == list:
      result.extend(flatten(i))
    else:
      result.append(i)
  return result
flatten_final=flatten([1,[2,[3,4],5],6])
print(f'flatten([1,[2,[3,4],5],6]) → {flatten_final}')

flatten([1,[2,[3,4],5],6]) → [1, 2, 3, 4, 5, 6]

##Exercise_5 . Write a function that performs run-length encoding on a list and returns a list of (value, count).example:  rle([1,1,1,2,2,3,3,3,3]) → [(1,3),(2,2),(3,4)]

##Method_1

In [10]:
def Run_Length_Encoding(lst):
  counts = []
  for i in set(lst):
    counts.append((i,lst.count(i)))
  return counts
rle_final=Run_Length_Encoding([1,1,1,2,2,3,3,3,3])
print(f'rle([1,1,1,2,2,3,3,3,3]) → {rle_final}')

rle([1,1,1,2,2,3,3,3,3]) → [(1, 3), (2, 2), (3, 4)]

##Method_2

In [14]:
def Run_Length_Encoding(lst):
  result = []
  count = 1
  previous = lst[0]
  for i in lst[1:]:
     if i == previous:
         count += 1
     else:
      result.append((previous,count))
      previous = i
      count = 1
  result.append((previous,count))
  return result

rle_final=Run_Length_Encoding([1,1,1,2,2,3,3,3,3])
print(f'rle([1,1,1,2,2,3,3,3,3]) → {rle_final}')

rle([1,1,1,2,2,3,3,3,3]) → [(1, 3), (2, 2), (3, 4)]

##Method_3

In [27]:
from itertools import groupby

def Run_Length_Encoding(lst):
    return [(key, len(list(group))) for key, group in groupby(lst)]

rle_final = Run_Length_Encoding([1,1,1,2,2,3,3,3,3])

print(f'rle([1,1,1,2,2,3,3,3,3]) → {rle_final}')

rle([1,1,1,2,2,3,3,3,3]) → [(1, 3), (2, 2), (3, 4)]